<h1><%= @lesson.name %></h1>

<p><%= @lesson.text %></p>



<p><a href="/table-of-contents">Table of Contents</a></p>
<p><a href="/<%= @previous.name %>">Previous Lesson</a></p>
<p><a href="/<%= @next.name %>">Next Lesson</a></p>
